
/*h1{
    text-underline-position: below;
}*/

body{
    background-color: blueviolet;

}
ul li {
    color: black;
    margin-bottom: 15px;
    margin-top: 15px;
    background-image: linear-gradient(tan, white);
    max-width: 450px;
   /* background-color: blueviolet; */
    
}

span {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
<<<<<<< HEAD
}

input{
    width: 450px;
}
=======
    /*background-color: blueviolet;*/
}

.suggestions{
    background-color: blueviolet;
    font-size: small;
}
.search-form{
    background-color: blueviolet;
}
.notification{
    background-color: blueviolet;
    font-size: xx-large;
    text-underline-position: below;
}
.is-link{
    background-color: blueviolet;
}
/*
div{
    background-color: blueviolet;
}
*/
>>>>>>> c724f2fcb0727bc0907eaf779dbf20b69b3209a5
