
h1{
    margin-left: 10px;
    font-size: xx-large;
    font-weight: bold;
    text-underline-position: below;
    margin-bottom: 20px;
    text-decoration: underline;
}

body{
    background-color: #3273dc;

}
ul li {
    color: black;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
    background-image: linear-gradient(tan, white);
    max-width: 450px;
   /* background-color: blueviolet; */
    
}

span {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

input{
    margin-left: 10px;
    height: 30px;
    width: 450px;
}

    /*background-color: blueviolet;*/


.suggestions{
    background-color: #3273dc;
    font-size: small;
}
.search-form{
    background-color: #3273dc;
}
.notification{
    background-color: #3273dc;
    
    text-underline-position: below;
}
.is-link{
    background-color: #3273dc;
}
/*
div{
    background-color: blueviolet;
}
*/

.name {
    font-size: large;
    font-weight: bold;
}

.category .city .zip {
    font-size: medium;
}